body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #efefef;
}

.panel {
    padding: 1rem;
    margin: 3rem 3rem 0;
    background-color: #fff;
}

/* RESPONSE OVERLAY */
.swal-button {
    background-color: #2064a3;
    border-radius: 3px;
    font-size: 10px;
    font-weight: 400;
}

.swal-button:not([disabled]):hover {
    background-color:#1b5286;
}

.swal-icon--error__line {
    background-color: #f74040;
}

.swal-icon--error {
    border-color: #f74040;
}

.swal-title {
    font-family: 'Shadows Into Light', cursive;
    font-size: 48px;
}

.heading {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

    .heading img {
        width: 72px;
        height: 72px;
        position: relative;
        top: -24px;
        left: -7px;
        transform: rotate(-90deg);
        transition: 1s ease-in;
    }

    nav:hover .heading img {
        width: 72px;
        height: 72px;
        position: relative;
        top: -24px;
        left: -7px;
        transform: rotate(-40deg);
        transition: 1s ease-in-out;
        animation: pulse 5s infinite;
    }

ul {
    padding-left: 0;
}

h1, h2, h4, h5, h6 {
    font-family: 'Shadows Into Light', cursive;
    margin: 0;
}

    h1 > a {
        font-size: 48px;
        color: #2B292E;
        text-decoration: none;
    }

    h2 {

    }

    h3 {
        font-size: 10px;
        padding-top: .7rem;
    }

    h3 .quote {
        font-style: italic;
    }

nav {
    width: 100%;
    padding-top: 4rem;
    color: #2B292E;
}

    .nav-content {
        display: flex;
        justify-content: space-between;
        padding-bottom: .3rem;
    }

        .social-network {
            display: flex;
            justify-content: space-between;
            padding-bottom: 1rem;
            border-bottom: 1px solid #2064a3;
        }

            .color-kevin a, .color-valentin a {
                color: #2B292E;
                padding-left: 1rem;
            }
            
                .color-kevin a:hover {
                    color: #f74040;
                }

                .color-valentin a:hover {
                    color: #23db60;
                }

            .social-network strong {
                font-size: 10px;
                font-weight: 700;
            }

            .social-network div:nth-child(2) {
                padding-left: 2rem;
            }

        .searchbar {
            margin-top: 1rem;
        }

            .searchbar > input {
                float: right;
                padding: .4rem 4rem .4rem .4rem;
                font-size: 10px;
                width: 110px;
                border: 1px solid rgba(0,0,0,.2);
                border-radius: 3px;
                transition: .5s ease-in;
            }

            .searchbar > input:focus, .searchbar > input:hover {
                border: 1px solid #2064a3;
                width: 240px;
                transition: .5s ease-out;
            }


            .searchbar > i.fa-search {
                position: relative;
                right: -315px;
                top: 5px;
                cursor: pointer;
                color: #2B292E;
            }

                .searchbar > input:focus ~ i, .searchbar > input:hover ~ i {
                    color: #2064a3;
                }

            .searchbar > i.fa-keyboard {
                position: relative;
                right: -305px;
                top: 5px;
                opacity: .2;
                color: #2B292E;
            }


.nav-content, .tracklist-content, .playlist-content {
    width: 1200px;
    margin: 0 auto;
}

.tracklist {
    margin-bottom: 2rem;
}
    .results-text {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
        color: whitesmoke;
        background-color: #5c8ebc;
        padding: .6rem;
        border-radius: 3px;
    }

        .results-text:hover {
            background-color: #f74040;
            cursor: pointer;
        }

        .results-text > i {
            padding-right: .6rem;
        }

.swal-text, .swal-footer {
    text-align: center;
}

    .search-results {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
    }

        .search-track, .search-header {
            display: flex;
            flex-direction: row;
        }

        .li-search:nth-child(even) {
           background-color: #efefef;
        }

        .li-search:nth-child(odd) {
            background-color: #fff;
         }

        .li-search:nth-child(even):hover,
        .li-search:nth-child(odd):hover,
        .li-playlist:nth-child(even):hover,
        .li-playlist:nth-child(odd):hover {
            filter: brightness(90%);
        }

        .li-playlist:nth-child(even) {
            background-color: #fff;
        }

        .li-playlist:nth-child(odd) {
            background-color: #efefef;
        }

        .search-header {
            font-weight: 700;
        }

        .track-cover {
            width: 30px;
            height: 30px;
        }
        
        .track-title, .track-artist, .track-duration {
            text-transform: uppercase;
            color: #2B292E;
            font-size: 12px;
            line-height: 30px;
            vertical-align: middle;
            padding-left: 1rem;
        }
        
        .track-title {
            width: 400px;
            font-weight: 700;
        }
        
        .track-artist {
            width: 300px;
        }

        .track-player {
            margin-left: auto;
            height: 30px;
        }

    .validate, .delete {
        color: whitesmoke;
        border: none;
        height: 30px;
        width: 30px;
    }

    .validate {
        background-color: #23db60
    }

    .delete {
        background-color: #f74040;
    }

    .validate:hover {
        background-color: #1db44f;
    }

    .delete:hover {
        background-color: #cb3535;
    }

.playlist {
    background-color: #efefef;
}

    .playlist-content {
        padding-top: 1rem;
        padding-bottom: 4rem;
    }

    .delete-playlist {
        float: right;
        padding-top: 1rem;
        color: rgba(0,0,0,.2);
    }

        .delete-playlist--text {
            height: 2em;
            display: inline-block;
            text-transform: uppercase;
            vertical-align: middle;
            padding-right: 1rem;
        }

        .delete-playlist:hover {
            cursor: pointer;
        }

            .delete-playlist:hover i {
                color: rgba(0,0,0,.3);
                
            }

.accept {
    background-color: #23db60;
}

    .accept:not([disabled]):hover {
        background-color: #1db44f;
    }

.cancel {
    background-color: #f74040;
}

    .cancel:not([disabled]):hover {
        background-color: #cb3535;
    }

.playlist-title {
    font-size: 32px;
    font-style: italic;
    font-family: 'Shadows Into Light', cursive;
    padding: .6rem;
}

    .playlist-title:hover {
        cursor: pointer;
    }

    .playlist-title > i {
        padding-right: .6rem;
        font-size: 16px;
        color: rgba(0,0,0,.2);
        font-weight: 700;
    }

        .playlist-title:hover > i {
            color: rgba(0,0,0,.3);
        }

.export {
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    color: whitesmoke;
    background-color: #2064a3;    
    padding: .6rem;
    border-radius: 3px;
    float: right;
}

    .export:hover {
        background-color: #1b5286;
    }