body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* RESPONSE OVERLAY */
.swal-button {
    background-color: #2064a3;
    border-radius: 3px;
    font-size: 10px;
    font-weight: 400;
}

ul {
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

    h1 > a {
        color: #2B292E;
        text-decoration: none;
    }

    h2 {

    }

    h3 {
        font-size: 10px;
        padding-top: .7rem;
    }

    h3 .quote {
        font-style: italic;
    }

nav {
    width: 100%;
    padding-top: 4rem;
    color: #2B292E;
}

    .nav-content {
        display: flex;
        justify-content: space-between;
        padding-bottom: .3rem;
    }

        .social-network {
            display: flex;
            justify-content: space-between;
            padding-bottom: 1rem;
            border-bottom: 1px solid #2064a3;
        }

            .color-kevin a {
                color: #f27474;
                padding-left: 1rem;
            }
            
                .color-kevin a:hover {
                    color: #dc6a6a;
                }

            .color-valentin a {
                color: #a5dc86;
                padding-left: 1rem;
            }

                .color-valentin a:hover {
                    color: #88b56e;
                }

            .social-network strong {
                font-size: 10px;
                font-weight: 700;
            }

            .social-network div:nth-child(2) {
                padding-left: 2rem;
            }

        .searchbar {
            margin-top: 1rem;
        }

            .searchbar > input {
                float: right;
                padding: .4rem 4rem .4rem .4rem;
                font-size: 10px;
                width: 110px;
                text-transform: uppercase;
                border: 1px solid rgba(0,0,0,.2);
                border-radius: 3px;
                transition: .5s ease-in;
            }

            .searchbar > input:focus {
                border: 1px solid #2064a3;
                width: 240px;
                transition: .5s ease-out;
            }


            .searchbar > i.fa-search {
                position: relative;
                right: -315px;
                top: 5px;
                cursor: pointer;
                color: #2B292E;
            }

                .searchbar > input:focus ~ i {
                    color: #2064a3;
                }

            .searchbar > i.fa-keyboard {
                position: relative;
                right: -305px;
                top: 5px;
                opacity: .2;
                color: #2B292E;
            }


.nav-content, .tracklist-content, .playlist-content {
    width: 1200px;
    margin: 0 auto;
}

.tracklist {
    margin-bottom: 2rem;
}
    .results-text {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
        color: whitesmoke;
        background-color: #5c8ebc;
        padding: .6rem;
        border-radius: 3px;
    }

        .results-text:hover {
            background-color: #f27474;
            cursor: pointer;
        }

        .results-text > i {
            padding-right: .6rem;
        }

.swal-text, .swal-footer {
    text-align: center;
}

    .search-results {
        display: flex;
        flex-direction: column;
    }

        .search-track, .search-header {
            display: flex;
            flex-direction: row;
            margin-bottom: .3rem;
        }

        .search-track {
            border-top: 1px solid #2B292E;
        }

        .search-header {
            font-weight: 700;
        }

        .track-cover {
            width: 30px;
            height: 30px;
        }
        
        .track-title, .track-artist, .track-duration {
            text-transform: uppercase;
            color: #2B292E;
            font-size: 12px;
            line-height: 30px;
            vertical-align: middle;
            padding-left: 1rem;
        }
        
        .track-title {
            width: 400px;
            font-weight: 700;
        }
        
        .track-artist {
            width: 300px;
        }

        .track-player {
            margin-left: auto;
            height: 30px;
        }

    .validate, .delete {
        background-color: #2B292E;
        color: whitesmoke;
        border: none;
        height: 30px;
        width: 30px;
    }


    .validate:hover {
        background-color: #a5dc86;
    }

    .delete:hover {
        background-color: #f27474;
    }

.playlist {
    background-color: #efefef;
}

    .playlist-content {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

.accept {
    background-color: #a5dc86;
}

    .accept:not([disabled]):hover {
        background-color: #88b56e;
    }

.cancel {
    background-color: #f27474;
}

    .cancel:not([disabled]):hover {
        background-color: #dc6a6a;
    }

.playlist-title {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: whitesmoke;
    background-color: #5c8ebc;
    padding: .6rem;
    border-radius: 3px;
}

    .playlist-title:hover {
        background-color: #a5dc86;
        cursor: pointer;
    }

    .playlist-title > i {
        padding-right: .6rem;
    }